body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  width: 90%;
  margin: 40px auto;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#string {
  width: 90%;
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid white;
  touch-action: none;
}

svg {
  width: 100%;
  height: 100%;
}

#cursor {
  width: 10px;
  height: 10px;
  background-color: transparent;
  padding: 4px;
  border: 1px solid white;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

#cursor-circle{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
}

@media (max-width: 768px) {
  #cursor {
    display: none;
  }
}
