body {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#string {
  width: 1000px;
  height: 450px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.195);
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}
